<div class="row">
  <div class="col-md-12">
    <img [src]="detailedRecipeItem.imagePath"
    alt="recipe image for {{detailedRecipeItem.name}}"
    class="img-fluid"
    style="max-height: 550px;"/>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>
      <hr>
       {{detailedRecipeItem.name}}
     </h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

      <div class="dropdown" >
        <button class="btn btn-secondary dropdown-toggle"
        type="button" id="dropdownManageOptions" app-dropdown>
          Manage Options
        </button>
        <div class="dropdown-menu"
        aria-labelledby="dropdownManageOptions">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
   {{detailedRecipeItem.description}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    Ingredients
  </div>
</div>
