<app-header (NavigationChanged) = "changeNavigation($event)"></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf ="loadedFeature === 'recipes'"></app-recipes>
      <hr>
      <app-shopping-list *ngIf = "loadedFeature !== 'recipes'" ></app-shopping-list>
    </div>
  </div>
</div>

<!-- old app above -->

<!-- <div class="container-fluid px-0">
    <div class="main-section">
      <div class="main-section-inner">
        <div class="main-section-inner-row">
          <div class="row justify-content-around no-gutters">
            <div class="col-4">
              <div class="add-links-section">
                <input type="text" class="form-control" placeholder="Url"/>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ullam libero omnis quis unde architecto quisquam quia est cumque commodi fugiat incidunt, adipisci consequuntur labore. Debitis odit temporibus, placeat doloremque cumque officia velit maxime, quos reiciendis nulla, ad libero, accusantium!
              </div>
            </div>
            <div class="col-4">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident eos inventore, eveniet beatae? Ducimus exercitationem, suscipit, error voluptatum aspernatur, quas saepe laborum nemo, velit eaque totam molestiae ipsum iusto expedita! Repudiandae sapiente vitae deleniti voluptates libero a quod consectetur provident enim odio, itaque pariatur nobis tempora nihil temporibus repellendus neque!
            </div>
          </div>
        </div>
      </div>
    </div>
</div> -->
