.main-section {
  min-height: 650px;
  background-image: url('../assets/images/doodles.png');
  background-repeat: repeat;
  position: relative;
}
.main-section-inner{
  background-color: #78C6B8;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*content: "";*/
  opacity: 0.4;
}

.search-links-section{
  background-color: rgb(255,179,33);
  /*color: #fff;*/
  padding: 20px;
  opacity: 0.6;
  font-weight: bold;
}
.add-links-section{
  background-color: #183731;
  color: #fff;
  padding: 20px;
  opacity: 0.8;
  font-weight: bold;
}

.main-section-inner-row{
  padding-top: 100px;
}

.add-links-section input::placeholder {
  color: gray;
  font-size: 1.2em;
}


.add-links-section input {
  color: #000;
  font-size: 1.2em;
}
